._container{
  width: 100%;
  height: 1000px;
}
._card{
  width: 100%;
  background: none;
}
._content{
  width: 75%;
  // border: 1px solid rgb(255, 0, 0);
  height: 100%;
}
.side-bare{
  width: 20%;
  margin-right: 5%;
  height: 100%;
  // border: 1px solid rgb(0, 0, 255);
  background-color: #ffffff;
  border-right: 5px solid rgb(157, 157, 224);
  opacity: .8;
}
