<mat-drawer-container class="_container d-flex justify-content-between align-items-stretch">
    <mat-drawer mode="side" opened class="side-bare">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content class="_content">

        <app-navbar></app-navbar>

        <div class="d-flex justify-content-center _card">
          <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>

    </mat-drawer-content>
</mat-drawer-container>
