<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header d-flex justify-content-center align-items-center">
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Matricule" [(ngModel)]="matricule">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="Du" [(ngModel)]="dateDebut">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1 startView="year"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder="Au" [(ngModel)]="dateFin">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 startView="year"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect (click)="onSearch()">Rechercher</button>
                    </div>
                </div>
                    <div class="card-header d-flex justify-content-between">
                        <div>
                          <strong class="card-title">Data Table</strong>
                        </div>
                        <div>
                          <button class="btn-img" type="button" (click)="exportExcel()">
                            <img src="assets/images/excel.png" alt="">
                          </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table mat-table [dataSource]="dataSource" id="bootstrap-data-table" class="table table-striped table-bordered">
                            <ng-container matColumnDef="matricule">
                                <th class="sorting_asc" mat-header-cell *matHeaderCellDef>
                                        Matricule
                                </th>
                                <td mat-cell *matCellDef="let element">
                                        {{element.idPersonneNavigation.matricule}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="nom">
                                <th mat-header-cell *matHeaderCellDef>
                                        Nom
                                </th>
                                <td mat-cell *matCellDef="let element">
                                        {{ element.idPersonneNavigation.nom }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="prenom">
                                <th mat-header-cell *matHeaderCellDef>
                                        Prenom
                                </th>
                                <td mat-cell *matCellDef="let element">
                                        {{ element.idPersonneNavigation.prenom }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef>
                                        Date
                                </th>
                                <td mat-cell *matCellDef="let element">
                                        {{ element.datePesage }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="heure">
                                <th mat-header-cell *matHeaderCellDef>
                                        Heure
                                </th>
                                <td mat-cell *matCellDef="let element">
                                {{ element.datePesage }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="poid">
                                <th mat-header-cell *matHeaderCellDef>
                                        Poid
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.poid }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>
                                        Actions
                                </th>
                                <td mat-cell *matCellDef="let element">

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
