<form [formGroup]="formGroupePesage" (submit)="ajoutePesage()">
    <input placeholder="serieNumber" formControl="serieNumber" name="serieNumber">
    <input type="number" name="" placeholder="poid" formControlName="poid">
    <input type="submit" value="submit">
</form>