<form class="" [formGroup]="formGroupePersonne" (ngSubmit)="modifierPersonne()">

  <div class="card-header">
    <strong class="card-title">Data Table</strong>
  </div>
  <div class="row d-flex justify-content-between">

    <div class="d-flex flex-column">
      <div class="label" for="firstName">Matricule</div>
      <input type="text" class="_form-control" formControlName="matricule" required>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="label" for="lastName">Nom</div>
      <input type="text" class="_form-control" formControlName="nom" required>
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="label" for="firstName">Prenom</div>
      <input type="text" class="_form-control" formControlName="prenom" required>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

  </div>

  <div class="row d-flex justify-content-between">
    <div class="d-flex flex-column">
      <div class="label" for="lastName">Telephoune</div>
      <input type="text" class="_form-control" formControlName="phone" required>
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="label" for="firstName">C.I.N</div>
      <input type="text" class="_form-control" formControlName="cin" required>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="label" for="lastName">C.N.S.S</div>
      <input type="text" class="_form-control" formControlName="cnss" required>
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-between">

    <div class="d-flex flex-column">
      <div class="label" for="lastName">Ville</div>
      <input type="text" class="_form-control" formControlName="ville" required>
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="label" for="firstName">Nombre Enfants</div>
      <input type="text" class="_form-control" formControlName="nombreEnfant" required>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="label" for="lastName">Situation</div>
      <input type="text" class="_form-control" formControlName="situation" required>
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-between">

    <div class="d-flex flex-column">
      <div class="label" for="username">Adress</div>
      <div class="input-group">
        <input type="text" class="_form-control adresse" formControlName="adresse" required>
        <div class="invalid-feedback">
          Your username is required.
        </div>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="label" for="firstName">Badge</div>
      <input type="text" class="_form-control" formControlName="idBadge" required>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-between">

    <div class="d-flex flex-column">
      <div class="label">Date Naissance</div>
      <input type="date" class="_form-control" formControlName="dateNaissance" required>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="label">Date Embauche</div>
      <input type="date" class="_form-control" formControlName="dateEmbauche" required>
      <div class="invalid-feedback">
        Valid last name is required.
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="label">Date Sortie</div>
      <input type="date" class="_form-control" formControlName="dateArret" required>
      <div class="invalid-feedback">
        Valid first name is required.
      </div>
    </div>

  </div>

  <div class="row d-flex justify-content-center">
    <button class="btn btn-primary" type="submit">Modifier</button>
  </div>

</form>

