<div class="d-flex justify-content-center">
  <div class="form-login">
  <form  (ngSubmit)="login()">

    <div class="d-flex _form-group">
      <div class="label">
        Username
      </div>
      <div>
        <input type="text" class="input" [(ngModel)]="username" name="username" id="username" >
      </div>
    </div>

    <div class="d-flex _form-group">
      <div class="label">
        Password
      </div>
      <div>
        <input type="password" class="input" [(ngModel)]="password"  name="password" id="password">
      </div>
    </div>

    <div class="d-flex _form-group justify-content-center">
      <div>
        <input type="submit" class="btn-connecter" value="Connecter">
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="error" *ngIf="notExist==false">
        Username ou Password est incorect
      </div>
    </div>

  </form>
  </div>
</div>
