.form-login{
  margin-top: 100px;
  height: 400px;
  // border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  box-shadow: 5px 5px 5px 5px rgba(0.3, 0.3, 0.3, 0.3);
  box-sizing: border-box;
}
._form-group{
  margin: 40px;
  // border: .5px solid rgb(179, 179, 179);
  border-radius: 5px;
  display: flex;
  align-items: center;
  // justify-content: center;
}
.label{
  width: 100px;
  height: 55px;
  display: flex;
  align-items: center;
  // border: .5px solid rgb(179, 179, 179);
  padding-left: 10px;
  font-weight: bold;
  border-radius: 5px 0 0 5px;
  background-color: rgb(78, 78, 255);
  color: white;
  margin: 0;
}
.input{
  height: 55px;
  width: 300px;
  border-radius: 0 6px 6px 0;
  border: none;
  border: .5px solid rgb(179, 179, 179);
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 15px;
  margin: 1px;
  border-left: 0px;
}
.input:focus{
  border: .5px solid rgb(51, 73, 145);
  border-left: 0px;

}
.btn-connecter{
  height: 55px;
  width: 150px;
  border-radius: 6px;
  border: none;
  // border: .5px solid rgb(179, 179, 179);
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 15px;
  margin: 1px;
  background-color: rgb(18, 34, 126);
  font-weight: bold;
  color: white;
}
.error{
  color: red;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
}
.btn-connecter:hover{
  background-color: white;
  color: rgb(18, 34, 126);
  border: .5px solid rgb(18, 34, 126);
}
