.table
{
  width: 100%;
}
._card{
  width: 100%;
  border: 1px solid rgb(168, 168, 168);
}
table
{
  width: 900px;
}
.btn-modifier{
  border: none;
  height: 39px;
  width: 90px;
  background-color: rgb(43, 42, 122);
  font-family: 'Times New Roman', Times, serif;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}
th
{
  font-weight: bolder;
  font-size: 14px;
  padding-left: 10px;
}
td{
  color: black;
  font-weight: bold;
}
