
<div class="card _card">
    <div class="card-header">
        <strong class="card-title">Data Table</strong>
    </div>
    <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="_table table-striped table-bordered">

            <ng-container matColumnDef="matricule">
                <th class="sorting_asc" mat-header-cell *matHeaderCellDef>
                        Matricule
                </th>
                <td mat-cell *matCellDef="let element">
                        {{ element.matricule }}
                </td>
            </ng-container>

            <ng-container matColumnDef="nomComplet">
                <th mat-header-cell *matHeaderCellDef>
                        Nom
                </th>
                <td mat-cell *matCellDef="let element">
                        {{ element.nom }}
                </td>
            </ng-container>

            <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef>
                        Prenom
                </th>
                <td mat-cell *matCellDef="let element">
                        {{ element.prenom }}
                </td>
            </ng-container>

            <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef>
                        C.I.N
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.cin }}
                </td>
            </ng-container>

            <ng-container matColumnDef="badge">
              <th mat-header-cell *matHeaderCellDef>
                      Badge
              </th>
              <td mat-cell *matCellDef="let element">
                  <!-- {{ element.idBadge }} -->
              </td>
          </ng-container>

            <ng-container matColumnDef="DateEntree">
                <th mat-header-cell *matHeaderCellDef>
                    Date Entree
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.dateEmbauche }}
                </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>
                    Telephone
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.phone }}
                </td>
            </ng-container>

            <ng-container matColumnDef="cnss">
                <th mat-header-cell *matHeaderCellDef>
                        C.N.S.S
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.cnss }}
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">

              <th mat-header-cell *matHeaderCellDef>
                      Actions
              </th>
              <td mat-cell *matCellDef="let element">
                  <a class="btn-modifier" [routerLink]="['/modifier-personne', element.id ]">
                    <button class="btn-modifier">Modifier</button>
                  </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

    </div>
</div>
