// .form-ajoute-pesage{
//   width: 85%;
// }
._form-control{
  outline: none;
  height: 50px;
  width: 200px;
  border: .5px solid rgb(165, 165, 165);
  border-radius: 7px;
  padding-left: 15px;
  font-style: 17px;
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 15px;
}
._form-control:focus{
  border: .5px solid rgb(41, 9, 83);
}
.label
{
  color: rgb(70, 70, 70);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
  font-style: 17px;
  margin-left: 15px;
  margin-right: 15px;
}
.adresse{
  width: 470px;
}
.row{
  // margin-top: 15px;
  // margin-bottom: 15px;
  margin: 15px;
}
