/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-img
{
  background: none;
  border: none;
  outline: none;
}
.btn-img img
{
  width: 27px;
  height: 25px;
  border-radius: 3px;
}
table
{
  width: 900px;
}
