<!-- <aside id="left-panel" class="left-panel"> -->
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a routerLink="/dashboard"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>

                <!-- <li class="menu-title">Personne</li> -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-cogs"></i>Personne
                    </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fas fa-plus-square"></i>
                            <a routerLink="/ajoute-personne">Nouveau</a>
                        </li>
                        <li><i class="fas fa-plus-square"></i>
                            <a routerLink="/personne">Liste Personnel</a>
                        </li>
                    </ul>
                </li>

                <!-- <li class="menu-title">Pesage</li> -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-cogs"></i>Pesage
                    </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fas fa-plus-square"></i>
                            <a routerLink="/pesage">Pesage d'aujourdhui</a>
                        </li>
                        <li><i class="fas fa-plus-square"></i>
                            <a routerLink="/ajoute-pesage">Nouveau Pesage</a>
                        </li>
                        <li><i class="fas fa-plus-square"></i>
                            <a routerLink="/total-pesage">Total Pesage</a>
                        </li>
                    </ul>
                </li>

                <!-- <li class="menu-title">Presence</li> -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="menu-icon fa fa-table"></i>
                         Presence
                    </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="">Persence d'aujourdhui</a></li>
                        <li><i class="fa fa-table"></i><a href="">Presence</a></li>
                    </ul>
                </li>

                <li>
                    <a routerLink="/personne"> <i class="menu-icon ti-user"></i>Utilisateur</a>
                </li>
            </ul>
        </div>
    </nav>
<!-- </aside> -->
